<div class="block">
    <h3><a href="/defect">Defect</a></h3>
    <ul>
        <li><a href="/defect/ck">CK</a></li>
        <li><a href="/defect/mccabehalsted">McCabe & Halsted</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/effort">Effort</a></h3>
    <ul>
        <li><a href="/effort/cobol">COBOL</a></li>
        <li><a href="/effort/cocomo">Cocomo</a></li>
        <li><a href="/effort/fpa">Function Points Analysis</a></li>
        <li><a href="/effort/isbsg">ISBSG</a></li>
        <li><a href="/effort/personnel">Personnel</a></li>
        <li><a href="/effort/other">Other</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/requirements">Requirements</a></h3>
    <ul>
        <li><a href="/requirements/nrp">NRP</a></li>
        <li><a href="/requirements/other">Other</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/issues">Issues</a></h3>
</div>
<div class="block">
    <h3><a href="/model">Model</a></h3>
</div>
<div class="block">
    <h3><a href="/dump">Dump</a></h3>
</div>
