
<table width=700>
<tr><td width=175 valign=bottom>
<img 
width=130 
src="http://openscience.us/img/jigsaw0.png"
></a>
</td><td valign=bottom>
<p  style="font-size: small; font-style: italic; text-align: right;">
<a href="{{site.url}}"><img align=right src="{{site.url}}/img/favicon.ico">
SE open science portal</a>&nbsp;
</p>
<h2><a href="{{site.url}}/journal">Journal of Developments in Software Engineering</a></h2>
<p><em>The Open Science SE Forum.</p>

<p>&nbsp;

<div 
class="swatch1"><a href="{{site.url}}">Home</a></div><div 
class="swatch2"><a href="{{site.url}}/papers"></a>Papers</div><div 
class="swatch1"><a href="{{site.url}}/submit">How to Submit</a></div><div 
class="swatch2"><a href="{{site.url}}/news">News</a></div><div 
class="swatch1"><a href="{{site.url}}/board">Editorial Board</a></div>

</td></tr></table>
<hr>
