
<table>
<tr><td>


<img 
align=left 
width=150 
src="http://openscience.us/img/jigsaw0.jpg"
></a>



<div 
class="swatch1"><a href="{{site.url}}/index">Home</a></div><div 
class="swatch2"><a href="{{site.url}}/about">About me</a></div><div 
class="swatch1"><a href="http://goo.gl/BORLn4">Papers</a></div><div 
class="swatch2"><a href="{{site.url}}/books">Books</a></div><div 
class="swatch1"><a href="{{site.url}}/projects">Projects</a></div><div 
class="swatch2"><a href="{{site.url}}/talks">Talks</a></div><div 
class="swatch1"><a href="{{site.url}}/pdf">PDFs</a></div><div 
class="swatch2"><a href="http://helenburgess.com/">Helen</a></div>



</td></tr></table>
