<table width=700>
    <tr>
        <td width=175 valign=bottom>
            <img width=150 src="/img/scales300.jpg">
        </td>
        <td valign=bottom>
            <p style="font-size: small; font-style: italic; text-align: right;">
                <a href="/">
                    <img align=right src="/img/favicon.ico">
                    SE open science portal
                </a>
                &nbsp;
            </p>
            <h2>
                <a href="/ssj">The Software Science Journal</a>
            </h2>
            <p>
                <em>The Open Science SE Forum.</em>
            </p>
            <p>
                &nbsp;
                <div class="swatch1">
                    <a href="/ssj">Home</a>
                </div>
                <div class="swatch2">
                    <a href="/ssj/papers">Papers</a>
                </div>
                <div class="swatch1">
                    <a href="/ssj/submit">Policies</a>
                </div>
                <div class="swatch2">
                    <a href="/ssj/format">Formatting</a>
                </div>
                <div class="swatch1">
                    <a href="/ssj/board">Editorial Board</a>
                </div>
            </td>
        </tr>
    </table>
<hr>