  <div class="block">
    <h3><a href="/creating">Getting and Creating Projects</a></h3>
    <ul>
      <li><a href="/creating/#init">init</a></li>
      <li><a href="/creating/#clone">clone</a></li>
    </ul>
  </div>
  <div class="block">
    <h3><a href="/basic">Basic Snapshotting</a></h3>
    <ul>
      <li><a href="/basic/#add">add</a></li>
      <li><a href="/basic/#status">status</a></li>
      <li><a href="/basic/#diff">diff</a></li>
      <li><a href="/basic/#commit">commit</a></li>
      <li><a href="/basic/#reset">reset</a></li>
      <li><a href="/basic/#rm-mv">rm, mv</a></li>
      <li><a href="/basic/#stash">stash</a></li>
    </ul>
  </div>
  <div class="block">
    <h3><a href="/branching">Branching and Merging</a></h3>
    <ul>
      <li><a href="/branching/#branch">branch</a></li>
      <li><a href="/branching/#branch">checkout</a></li>
      <li><a href="/branching/#merge">merge</a></li>
      <li><a href="/branching/#log">log</a></li>
      <li><a href="/branching/#tag">tag</a></li>
    </ul>
  </div>
  <div class="block">
    <h3><a href="/remotes">Sharing and Updating Projects</a></h3>
    <ul>
      <li><a href="/remotes/#fetch">fetch, pull</a></li>
      <li><a href="/remotes/#push">push</a></li>
      <li><a href="/remotes/#remote">remote</a></li>
    </ul>
  </div>
  <div class="block">
    <h3><a href="/inspect">Inspection and Comparison</a></h3>
    <ul>
      <li><a href="/inspect/#log">log</a></li>
      <li><a href="/inspect/#diff">diff</a></li>
    </ul>
  </div>
