---
title: About Promise 4
layout: repopage
---

<p>So far in Promise 4, we have added the following datasets:</p>

{% assign datasets = site.categories.repo | where:"version", 4 %}

{% for post in datasets do %}
    <a href="{{post.url}}">
    <div class="box">
        <h2>{{post.title}}</h2>
        <div class="block">
            {{post.excerpt}}
        </div>
    </div>
    </a>
{% endfor %}

<p>All:</p>

{% for post in site.categories.repo limit:20 do %}
    <a href="{{post.url}}">
    <div class="box">
        <h2>{{post.title}}</h2>
        <div class="block">
            {{post.excerpt}}
        </div>
    </div>
    </a>
{% endfor %}
