<footer>
	<div class="container" style="width: 95%;">
		<div class="row">
			
			<div class="col-md-4 col-lg-4">
				<h5><i>Site design by 
					<a href="http://reesjones.github.io">Mitch Rees-Jones</a></i>
				</h5>
			</div>
			
			<div class="col-md-4 col-lg-4">
				<ul class="nav nav-pills centered-pills" id="category-list">
					<li><a href="/repo/about">About</a></li>
					<li><a href="/repo/people">People</a></li>
					<li><a href="/repo/blog">Blog</a></li>
					<li><a href="/repo/contact">Contact</a></li>
					<li><a href="/repo/contribute">Contribute</a></li>
				</ul>
			</div>
			
			<div class="col-md-4 col-lg-4">
				<h5>Supported by the <a href="http://www.nsf.gov/">National Science Foundation</a></h5>
			</div>
		</div>
	</div>
</footer>
