<!-- Left sidebar -->
<div class="col-lg-2 col-md-3 col-sm-3 hidden-xs" id="leftbar">

	<a href="/repo"><img src="/img/repologo.png" class="img-responsive hidden-xs"></a>

	<a href="/" class="btn btn-default btn-block" id="back-to-portal">
		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
		Back to Portal
	</a>

	<hr>

	<h2>Data Categories</h2>

	<ul class="nav nav-pills nav-stacked" id="category-list">
		<li><a href="/repo/bad-smells">
			Bad Smells
			<span class="badge">{{site.categories.bad-smells | size }}</span>
		</a></li>

        <li><a href="/repo/code-analysis">
			Code Analysis
			<span class="badge">{{site.categories.code-analysis | size }}</span>
		</a></li>

		<li><a href="/repo/defect">
			Defect
			<span class="badge">{{site.categories.defect | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/defect/ck">
			CK
			<span class="badge">{{site.categories.ck | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/defect/mccabehalsted">
			McCabe &amp; Halsted
			<span class="badge">{{site.categories.mccabehalsted | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/defect/defect-other">
			Other
			<span class="badge">{{site.categories.defect-other | size }}</span>
		</a></li>

		<li><a href="/repo/dump">
			Dump
			<span class="badge">{{site.categories.dump | size }}</span>
		</a></li>

		<li><a href="/repo/effort">
			Effort
			<span class="badge">{{site.categories.effort | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/effort/cobol">
			Cobol <span class="badge">{{site.categories.cobol | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/effort/cocomo">
			Cocomo
			<span class="badge">{{site.categories.cocomo | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/effort/function-points">
			Function Points Analysis
			<span class="badge">{{site.categories.function-points | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/effort/isbsg">
			ISBSG <span class="badge">{{site.categories.isbsg | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/effort/personnel">
			Personnel
			<span class="badge">{{site.categories.personnel | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/effort/effort-other">
			Other
			<span class="badge">{{site.categories.effort-other | size }}</span>
		</a></li>

		<li><a href="/repo/green-mining">
			Green Mining
			<span class="badge">{{site.categories.green-mining | size }}</span>
		</a></li>

		<li><a href="/repo/issues">
			Issues
			<span class="badge">{{site.categories.issues | size }}</span>
		</a></li>

		<li><a href="/repo/model">
			Model
			<span class="badge">{{site.categories.model | size }}</span>
		</a></li>
		<li><a href="/repo/msr">
			MSR
			<span class="badge">{{site.categories.msr | size }}</span>
		</a></li>

		<li><a href="/repo/performance-predict">
			Performance Predict
			<span class="badge">{{site.categories.performance-predict | size }}</span>
		</a></li>

		<li><a href="/repo/requirements">
			Requirements
			<span class="badge">{{site.categories.requirements | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/requirements/nrp">
			NRP
			<span class="badge">{{site.categories.nrp | size }}</span>
		</a></li>

		<li><a class="subcategory" href="/repo/requirements/requirements-other">
			Other
			<span class="badge">{{site.categories.requirements-other | size }}</span>
		</a></li>

		<li><a href="/repo/search-based-se">
			Search-Based SE
			<span class="badge">{{site.categories.search-based-se | size }}</span>
		</a></li>

		<li><a href="/repo/social-analysis">
			Social Analysis
			<span class="badge">{{site.categories.social-analysis | size }}</span>
		</a></li>

		<li><a href="/repo/software-aging">
			Software Aging
			<span class="badge">{{site.categories.software-aging | size }}</span>
		</a></li>

		<li><a href="/repo/software-maintenance">
			Software Maintenance
			<span class="badge">{{site.categories.software-maintenance | size }}</span>
		</a></li>

		<li><a href="/repo/spreadsheet">
			Spreadsheet
			<span class="badge">{{site.categories.spreadsheet | size }}</span>
			</a></li>

        <li><a href="/repo/test-generation">
			Test Generation
			<span class="badge">{{site.categories.test-generation | size }}</span>
		</a></li>

		<li><a href="/repo/other">
			Other
			<span class="badge">{{site.categories.other | size }}</span>
		</a></li>

		<hr>
	</ul>

</div>
