<!-- Menu bar -->
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<br>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Homepage link -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/repo">tera-PROMISE Home</a>
				</div>
				
				<!-- Search bar
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group"> 
						<input type="text" style="height: 2em;" class="form-control" placeholder="Search for a dataset..."> 
					</div>
					<button type="submit" class="btn btn-default" style="height: 100%;">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</form> -->
				
				<!-- About/People/Blog/Contribute -->
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden-sm hidden-md hidden-lg"><a href="/repo/categories">Dataset Categories</a></li>
						<li><a href="/repo/about">About</a></li>
						<li><a href="/repo/people">People</a></li>
						<li><a href="/repo/blog">Blog</a></li>
						<li><a href="/repo/contact">Contact</a></li>
						<!-- Contribute menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contribute <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/repo/contribute">As a student</a></li>
								<li><a href="/repo/contribute">As a researcher</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>
	</div>
</div>
