<div class="block">
    <h3><a href="/repo/code-analysis">Code Analysis [{{ site.categories.code-analysis | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/defect/">Defect [{{ site.categories.defect | size }}]</a></h3>
    <ul>
        <li><a href="/repo/defect/ck">CK [{{ site.categories.ck | size }}]</a></li>
        <li><a href="/repo/defect/mccabehalsted">McCabe & Halsted [{{ site.categories.mccabehalsted | size }}]</a></li>
	<li><a href="/repo/defect/other-defect">Other [{{ site.categories.other-defect | size }}]</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/repo/dump">Dump [{{ site.categories.dump | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/effort">Effort [{{ site.categories.effort | size }}]</a></h3>
    <ul>
        <li><a href="/repo/effort/cobol">COBOL [{{ site.categories.cobol | size }}]</a></li>
        <li><a href="/repo/effort/cocomo">Cocomo [{{ site.categories.cocomo | size }}]</a></li>
        <li><a href="/repo/effort/function-points">Function Points Analysis [{{ site.categories.function-points | size }}]</a></li>
        <li><a href="/repo/effort/isbsg">ISBSG [{{ site.categories.isbsg | size }}]</a></li>
        <li><a href="/repo/effort/other-effort">Other [{{ site.categories.other-effort | size }}]</a></li>
        <li><a href="/repo/effort/personnel">Personnel [{{ site.categories.personnel | size }}]</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/repo/green-mining">Green Mining [{{ site.categories.green-mining | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/issues">Issues [{{ site.categories.issues | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/model">Model [{{ site.categories.model | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/other">Other [{{ site.categories.other | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/performance-predict/">Performance Predict [{{ site.categories.performance-predict | size }}]</a></h3>
</div> 
<div class="block">
    <h3><a href="/repo/requirements">Requirements [{{ site.categories.requirements | size }}]</a></h3>
    <ul>
        <li><a href="/repo/requirements/nrp">NRP [{{ site.categories.nrp | size }}]</a></li>
        <li><a href="/repo/requirements/other-requirements">Other [{{ site.categories.other-requirements | size }}]</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/repo/social-analysis">Social Analysis [{{ site.categories.social-analysis | size }}]</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/spreadsheet">Spreadsheet [{{ site.categories.spreadsheet | size }}]</a></h3>
</div>

<br>
<hr>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
