<div class="block">
    <h3 class="emphasis"><a href="/repo/contribute/" id="contribButton" style="color: #ffffff">Contribute</a></h3>
    <h3><a href="/repo/defect/">Defect</a></h3>
    <ul>
        <li><a href="/repo/defect/ck">CK</a></li>
        <li><a href="/repo/defect/mccabehalsted">McCabe & Halsted</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/repo/effort">Effort</a></h3>
    <ul>
        <li><a href="/repo/effort/cobol">COBOL</a></li>
        <li><a href="/repo/effort/cocomo">Cocomo</a></li>
        <li><a href="/repo/effort/function-points">Function Points Analysis</a></li>
        <li><a href="/repo/effort/isbsg">ISBSG</a></li>
        <li><a href="/repo/effort/personnel">Personnel</a></li>
        <li><a href="/repo/effort/other-effort">Other</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/repo/requirements">Requirements</a></h3>
    <ul>
        <li><a href="/repo/requirements/nrp">NRP</a></li>
        <li><a href="/repo/requirements/other-requirements">Other</a></li>
    </ul>
</div>
<div class="block">
    <h3><a href="/repo/issues">Issues</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/model">Model</a></h3>
</div>
<div class="block">
    <h3><a href="/repo/dump">Dump</a></h3>
</div>
