<br>

<!-- Wrapper for hiding on small screens -->
<div class="col-lg-2 hidden-xs hidden-sm hidden-md">
	

	<br>
	
	<!-- Twitter feed -->
	<div class="row text-center">
		<div class="col-md-12 col-lg-12">
			<a class="twitter-timeline" href="https://twitter.com/promiserepo" data-widget-id="589936627964837888">Tweets by @promiserepo</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
	
	<hr>
	
	<div class="row text-center">
		<a href="" class="btn btn-default no-border"><img src="/img/facebook.png"></a>
		<a href="mailto:openscience.content@gmail.com" class="btn btn-default no-border"><img src="/img/gmail.png"></a>
		<a href="https://github.com/opensciences/opensciences.github.io" class="btn btn-default no-border"><img src="/img/github.png"></a>
	</div>

	<hr>

	<div class="row text-center">
	    <a class="img-responsive" href="http://csc.ncsu.edu/" alt="N.C. State Computer Science Department Homepage"><img src="/img/csc-logo.jpg"></a>
	</div>
</div>
