<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/img/style.css" type="text/css">
        <meta name="description" content="{{site.description}}">
        <meta name="author" content="{{site.author}}">
        <link rel="icon" href="/img/favicon.ico" type="image/png">
    </head>
    
    <body>
        <div class="content">
            <center>
                {% include journalnav.html %}
            </center>
            {{content}}
            {% for post in site.categories.ssj do %}
                <p>
                    <a href="{{ post.url }}">{{ post.title }}</a>:  
                        {{ post.date | date: "%b%-d '%y" }} <br>
                            {{post.excerpt}}
                </p>
            {% endfor %}
            {% include foot.html %}
        </div>
    </body>
</html>
