
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{site.url}}/img/style.css" type="text/css">
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">
  <link rel="icon" href="{{site.url}}/img/favicon.ico" type="image/png">
</head>

<body>
  &nbsp;


  </center>

  <div class="content">



    <center>

      {% include journalnav.html %}

    </center>



{{content}}


{% for post in site.posts do %}
           {% if post.category == "journal" %}
            <p><em>
              {{ post.date | date: "%b%-d '%y" }}
            </em>
              <a href="{{ post.url }}">{{ post.title }}</a>:  
                <ul><li>{{post.excerpt}}<br>
                 {{page.categories}}</li></ul>
            </p>
           {% endif %}
        {% endfor %}





  {% include foot.html %}

  
  </div>
</body>
</html>
