<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>tera-Promise: {{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
        <link rel="icon" href="{{site.url}}/img/favicon.ico" type="image/png">
	{% include analytics.html %}
    </head>
    <body>
        <div class="container_12">
            <div class="grid_12">
                <a href="/repo"><img width=200 align=left src="/img/files200.png"></a>
                <a href="/repo"><span id="branding">tera-PROMISE</span></a>
                <img  align=right src="{{site.url}}/img/CSClogo.jpg">
                <a href="/"><p><img id="backToPortalLogo" src="/img/opensciencelogo.png"> Back to portal</p></a>
                <br>
                <h3 class="emphasis"><a href="/repo/contribute/" id="contribButton" style="color: #ffffff">Contribute</a></h3>
            </div>
            <div class="grid_12">
                {% include repo/head.html %}
                <br/>&nbsp;
            </div>
            {% include search.html %}
            <div class="grid_2" id="reflist">
                {% include repo/navbar.html %}
            </div>
            <div class="grid_8 home_box" id="content_box">
                {% include repo/content.html %}
            </div>
            <div class="grid_2 home_box" id="rss">
                {% include repo/rss.html %}
            </div>
        </div>
    </body>
</html>
