<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>tera-Promise: {{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
        <link rel="icon" href="{{site.url}}/img/favicon.ico" type="image/png">
    </head>
    <body>
        <div class="container_12">
            <div class="grid_12">
                <a href="http://openscience.us/repo"><img width=200 align=left src="http://openscience.us/img/files.png"></a>
                <a href="/repo"><span id="branding">tera-PROMISE</span></a>
                <img  align=right src="{{site.url}}/img/CSClogo.jpg">
            </div>
            <div class="grid_12">
                {% include repo/head.html %}
                <br/>&nbsp;
            </div>
            <div class="grid_2" id="reflist">
                {% include repo/navbar.html %}
            </div>
            <div class="grid_10 home_box" id="content_box">
                {% include repo/content.html %}
            </div>
        </div>
    </body>
</html>
