<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Git Reference</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen" /><![endif]-->
		<!--- script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
		<!--- script type="text/javascript" src="/js/jquery-ui.min.js"></script>
		<!--- script type="text/javascript" src="/js/action.js"></script --->
	</head>
	<body>
    <div class="container_12">

			<div class="grid_12">
				<span id="branding">Git Reference</span>
      </div>

			<div class="grid_12">
				<ul id="menu">
					<li><a id="menu_home" href="/index.html">Reference</a></li>
          <!-- <li><a id="menu_cookbook" href="/cookbook.html">Cookbook</a></li> -->
					<li><a id="menu_about" href="/about.html">About</a></li>
					<li>&#167;</li>
					<li><a href="https://github.com/git/git-reference">Site Source</a></li>
        </ul>
        <br/>
        &nbsp;
			</div>

			<div class="grid_2" id="reflist">
          {% include reponav.html %}
      </div>

      <div class="grid_10 home_box" id="content_box">


	{% for page in site.pages do %}

         {% if page.category == content %}

         <div class="box">
         <h2>{{page.title}}</h2>
           <div class="block">
              {{page.content}}
           </div>
         </div>
        {% endif %}

        {% endfor %}
      
       
       <div class=block><div class=box>
        {{ content }}
       </div></div>


      <div class="clear"></div>
    </div>
  </body>
</html>
