<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>tera-PROMISE: {{ page.title }}</title>
        
        {% include meta/meta.html %}    
    </head>

    <body>
		<div class="container-fluid">
			<div class="row">
				{% include repo/leftbar.html %}
				
				{% include repo/main-people.html %}
			</div>
				
			{% include meta/scripts.html %}
		</div>
		
		{% include repo/footer.html %}
	</body>

</html>
