<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>tera-Promise: {{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
    </head>
    <body>
        <div class="container_12">
        
        <div class="grid_12">
            <img width=200 align=left src="http://openscience.us/img/files.png">
            <p>&nbsp;<p>
            <span id="branding">The tera-Promise Repository</span>
        </div>
        <div class="grid_12">
            {% include repohead.html %}
            <br/>
        </div>
        <div class="grid_2" id="reflist">
            {% include reponav.html %}
        </div>
        <div class="grid_10 home_box" id="content_box">
            <div class=block>
                <div class=box>
                    {{ content }}
               </div>
            </div>
            {% for post in site.categories.repo.blog do %}
                <div class="box">
                    <h2>{{post.title}}</h2>
                        <div class="block">
                            {{post.content}}
                        </div>
                    </div>
            {% endfor %}
        </div>
    </body>
</html>
